#Header{
background-color: #F2F2F2;
}
.Title {
    color: #20a8b4;
    font-family: "Roboto";
    }
    span{
    color: #ff5c0f
    }

    h2 {
    color: #20a8b4;
    font-family: "Roboto";
    }
    span{
    color: #ff5c0f
    }
    button {
        padding: 12px;
        border-radius: 10px;
        margin: 10px;
        border: 10px;
        background-color: #20a8b4;
        color: white;
        font-size: 1em;
        font-family: "Roboto", sans-serif;
        text-align: Center;
        max-width: 100%;
      
    }
    button:hover{
        color: white;
        background-color: #ff5c0f;
    }
    .contact_us {
      align-self: center;
    }

    .Learn_More{
      align-self: center;
    }
    a {
      color: black;
      font-size: 20px
    }
    a:hover{
      color: #ff5c0f;
    }
    a:link{
      text-decoration: none;
    }
    code{
       font-family: "Roboto" 
    }
    body{
      font-family: "Roboto", sans-serif;
      margin: 0 auto;
      padding: 0;
      overflow: hidden;
      flex-direction: column;
      
    }
    ul{
        list-style:none;
        list-style-type: none;
        list-style-position:inside;
        margin:0;
        padding:0;
    }
    #content {
      text-align: left;
    }
    #Contact_Us{
      Width: 100vw
    }
    #Learn_More{
      Width: 100vw
    }
    #image{
      visibility: hidden;

    }
    @media screen and (min-width: 768px){
      .Title{
        height: auto;
        float: left;
      }
      #content{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: 0vw
      }

       body {
            font-family: 'Roboto', sans-serif;
            margin: 0 auto;
            padding: 0;
            overflow: auto;
            width: 100vw;
            display: flex;
        }
      h1{
            margin-right: auto;

      }
  
      #Contact_Us{
        width: auto;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: baseline;
      }
      
      #Learn_More{
        width: auto;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: baseline;
      }
      
      
      #words{
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      }
      ul {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: baseline;
      }
      li {
        margin: 0px 10px 0px 10px;
      }
      #image {
        visibility: visible;
        display: flex;
        top: 30%;
        right: 10%;
      }
      }
  
      